.gridContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px; /* Espacio entre las tarjetas */
}

.card {
    background: var(--black);
    border-radius: 10px;
    padding: 1rem 1.5rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 18vw;
    
    height: 100%;  /* Hace que todas las tarjetas tengan la misma altura */
}


.cardHeader {
    display: flex;
    align-items: center; /* Alineación vertical */
    gap: 10px; /* Espacio entre estatus y fecha */
    margin-bottom: 10px;
}

.status {
    border: 1px solid #6CCDEA;
    border-radius: 100px;
    padding: 2px 8px 1px 8px;
    font-size: 0.55rem;
    font-weight: 500;
    color: #6CCDEA;
}

.completado {
    border-color: var(--light-gray);       /* Borde gris */
    color: var(--light-gray);              /* Texto gris suave */
}

.inactivo {
    border-color: var(--light-gray);       /* Borde gris */
    color: var(--light-gray);              /* Texto gris suave */
}

.ultimaActualizacion {
    color: var(--light-gray);
    font-size: 0.5rem; /* Reducir el tamaño */
    font-weight: 300;  /* Estilo más ligero */
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin: 10px 0;
}

.textBlock {
    margin-bottom: 10px;
}

.label {
    font-weight: 300; /* Reducir el grosor */
    font-size: 0.65rem;
    color: var(--light-gray); 
    margin-bottom: 3px;
}

.info {
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    line-height: 0.85rem;
    color: var(--white);
    overflow: hidden;
}

.buttonContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: auto; /* Empuja el contenido hacia abajo */
}


.button {
    background-color: var(--accent);
    color: var(--black);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-weight: 420; /* Más grueso para que se vea en bold */
    font-size: 0.6rem; /* Tamaño más pequeño */
    margin-top: 1.5rem;
}

.button:hover {
    background-color: #333;
}

.cardContent {
    flex-grow: 1;  /* Empuja el contenido hacia arriba */
}