.pageHeaderContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    align-self: flex-start;
    margin-bottom: 3.5vh;
}

.pageHeaderTitle {
    font-family: 'LayGrotesk-Semibold', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.clickablePageHeaderTitle {
    cursor: pointer;
}

.clickablePageHeaderTitle:hover {
    text-decoration: underline;
}

.subpageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subpageDash {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0.4rem;
}

.subpageTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.mainTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pageHeaderContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}