.container { 
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--black);
    color: var(--white);
    height: 100vh;
    width: 280px;
    padding: 5vh 0;
}

.logo {
    object-fit: contain;
    width: 130px;
    margin: 0 30px 7vh 30px;
}
