.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
